{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <header class="hero">
        <h1>Ласкаво просимо до UkrMarket!</h1>
    </header>
    
    <section class="about-us">
        <img src='static/img/1.png'>
        <div class="text-content">
            <h2>Про нас</h2>
            <p>UkrMarket – ваш надійний партнер у світі онлайн-торгівлі.</p>
            <p>Ви можете перейти у <a href="{% url 'shop:product_list' %}">Каталог</a>, де Ви можете подивитись/продати або купити товар.</p>
            <p>На UkrMarket кожен знайде щось для себе. Ми пропонуємо широкий асортимент товарів від побутової техніки до унікальних виробів. Приєднуйтесь до нашої спільноти, де покупки перетворюються на задоволення, а продажі на ефективний бізнес.</p>
        </div>
    </section>

    <section class="about-us2">
        <img src='static/img/2.png'>
        <div class="text-content2">
            <ul>
                <h2>Чому UkrMarket?</h2>
                <li>Широкий вибір товарів: Від дрібної електроніки до автомобілів та нерухомості – у нас є все!</li>
                <li>Безпечні угоди: Наша платформа гарантує безпеку ваших транзакцій завдяки перевіреним методам оплати та сучасним системам захисту.</li>
                <li>Для покупців та продавців: Наші інструменти та послуги створені для зручності як продавців, так і покупців.</li>
                <li>Спільнота та підтримка: Приєднуйтесь до активної спільноти користувачів та отримайте підтримку від нашої служби підтримки у будь-який час.</li>
            </ul>
        </div>
    </section>

    <section class="about-us2">
        <img src='static/img/3.png'>
        <div class="text-content2">
            <h1>Контактна інформація</h1>
            <p>Якщо у вас є запитання або вам потрібна допомога, будь ласка, зв'яжіться з нами:</p>
            <ul>
                <li>Email: <a href="mailto:info@ukrmarket.com">info@ukrmarket.com</a></li>
                <li>Телефон: +380 12 345 6789</li>
                <li>Адреса: Україна, 01001, Київ, вул. Хрещатик, 1</li>
            </ul>
        </div>
    </section>
{% endblock content %}