{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h1>Мої оголошення</h1>
<ul>
    {% for product in products %}
    <li>
    <h2>{{ product.title }}</h2>
    <p> Опис: {{ product.description }}</p>
    <p> Ціна: {{ product.price }}</p>
    <p> Статус: {{ product.status }}</p>
    <p> Дата створення: {{ product.published_date }}</p>
    <p><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" width="400" height="350" /></p>
    </li>
    {% if request.user == product.owner or request.user.is_superuser %}
    <a href="{% url 'shop:edit_product' product.id %}">Редагувати</a>
    <a href="{% url 'shop:delete_product' product.id %}">Видалити</a>
    {% endif %}
    {% empty %}
    <li>У Вас ще немає створенних оголошень.</li>
    {% endfor %}
</ul>
{% endblock %}