{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h1 class="catalog-title">Мої оголошення</h1>
<ul>
    {% for product in products %}
<div class="product-details">
        <div class="detail-block product-title-block">
            <h2>{{ product.title }}</h2>
        </div>
    <div class="image-block">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    </div>
    <p> Сторив оголошення: {{ product.owner.username }}</p>
    <p class="description">Опис: {{ product.description }}</p>
    <div class="details-block">
        <p class="detail">Ціна: {{ product.price }} грн.</p>
        <p class="detail">Контакти: {{ product.contact }}</p>
        <p class="detail">Місцезнаходження: {{ product.location }}</p>
        <p class="detail">Дата створення: {{ product.published_date }}</p>
    </div>
</div>
    {% if request.user == product.owner or request.user.is_superuser %}
    <div class="product-actions">
    <a href="{% url 'shop:edit_product' product.id %}" class="edit-link">Редагувати</a>
    <a href="{% url 'shop:delete_product' product.id %}" class="delete-link">Видалити</a>
    </div>
    {% endif %}
    
    {% empty %}
    <div class="no-reviews">У Вас ще немає створенних оголошень</div>
    {% endfor %}
</ul>
{% endblock %}