{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}

{% block content %}
<div class="catalog-container">
    <h1 class="catalog-title">Каталог</h1>
    <div class="filter-container">
        <form method="get" action="{% url 'shop:product_list' %}">
            {{ form.category.label_tag }} {{ form.category }}
            {{ form.query.label_tag }} {{ form.query }}
            <button type="submit">Фільтрувати</button>
        </form>
    </div>
    <div class="create-container">
        <a href="{% url 'shop:create_product' %}" class="btn btn-primary">Створити Нове Оголошення</a>
    </div>
    <div class="products-container">
        {% for product in products %}
            <div class="product-item">
                <a href="{% url 'shop:product_detail' product.id %}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.title }}" class="product-image">
                    <div class="product-info">
                        <h3>{{ product.title }} - {{ product.price }} грн.</h3>
                    </div>
                </a>
            </div>
        {% empty %}
        <div class="no-reviews">Тут ще немає оголошень.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}