{% extends 'shop/base.html' %}

{% block content %}
<h1 class="catalog-title">Відгуки користувачів</h1>
<a href="{% url 'shop:add_review' %}" class="add-review-link">Залишити відгук</a>
<ul class="reviews-list">
    {% for review in reviews %}
    <li class="review-item">
        <strong class="review-user">Користувач: {{ review.user.username }}</strong> <span class="review-date">({{ review.created_at }}):</span>
        <p class="review-rating">Оцінка: {{ review.rating }}</p>
        <p class="review-comment">Відгук: {{ review.comment }}</p>
    </li>
    {% empty %}
    <li class="no-reviews">Тут ще немає відгуків.</li>
    {% endfor %}
</ul>
{% endblock %}